
  .TagsInput-tag {
    background:#ffff;
  

    border-radius: 20px;
    padding: 3px 20px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    display: inline-block;
    color:black;
    display: inline-block;
    gap: 8px;
    font-family: sans-serif;
    margin: 5px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .TagsInput-tag:hover{
    background:#1a6cb6;
    color:#ffff;

    cursor: pointer;
  }

  .react-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
  }
  
  .react-tagsinput--focused {
    border-color: #1a6cb6;
  }
  
  .react-tagsinput-tag {
    background:#1a6cb6;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
  
    border-radius: 20px;
    padding: 3px 20px;
    font-size: 14px;
    font-weight: 300;
  
    color: #ffff;
    display: inline-block;
    font-family: sans-serif;

    margin-bottom: 5px;
    margin-right: 5px;

  }
  
  .react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
  }
  
  .react-tagsinput-tag a::before {
    content: " ×";
    color: wheat;
  }
  
  .react-tagsinput-input {
    background: transparent;
    border: 0;
    color: #777;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 1px;
    outline: none;
    padding: 5px;
    width: 80px;
  }
  

  
 