.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.scrollable-container::-webkit-scrollbar{
  display: none;
}
.table{
  color:white !important

}
.table td{
  border: none;
}
table td:hover{
  background-color: rgb(228, 228, 228);
  color: black !important;
}

.ant-select-focused  .ant-select-selector {
  border-color: none !important;
  box-shadow:none !important;
  outline: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.marquee-text {
  display: inline-block;
  animation: marqueeAnimation 30s linear infinite;
  animation-delay: 2s; /* Delay before the animation starts */
}
@keyframes marqueeAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
